html {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

* {
  font-family: "Courier New", Courier, monospace;
  box-sizing: inherit;
  margin: 0;
  padding: 15px;
  font-size: 1.8rem;
  color: black;
  background-color: white;
  align-items: center;
  text-align: center;
}

h1 {
  text-decoration: underline;
  padding: 30px;
}

h2 {
  font-size: 1rem;
}

.main {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 80px;
  width: 200px;
  height: 150px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.hidden {
  display: none;
}

.card-container {
  height: 400px;
  width: 600px;
  padding: 30px;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 35px;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.205);
  border-radius: 5px;
  height: 300px;
  width: 200px;
  justify-content: center;
  align-items: center;
}
